# Testes Estatísticos com Python

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats

# Carregando os dados

## Conjunto de dados bp.csv

In [3]:
bp_dataset = pd.read_csv('bp.csv')
print(type(bp_dataset))
bp_dataset

<class 'pandas.core.frame.DataFrame'>

     bp type
0    68   No
1    70  Yes
2    82   No
3    76   No
4    60   No
..   ..  ...
195  58   No
196  68  Yes
197  70   No
198  58   No
199  62  Yes

[200 rows x 2 columns]

In [4]:
bp_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bp      200 non-null    int64
 1   type    200 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.2+ KB

In [5]:
bp_dataset.isnull().sum()

bp      0
type    0
dtype: int64

In [6]:
bp_dataset.corr()

     bp
bp  1.0

In [19]:
print("Quantidade de pessoas com ou sem diabetes:\n", bp_dataset["type"].value_counts())

Quantidade de pessoas com ou sem diabetes:
 No     132
Yes     68
Name: type, dtype: int64

## Conjunto de dados paired.csv

In [15]:
paired_dataset = pd.read_csv('paired.csv')
print(type(paired_dataset))
paired_dataset

<class 'pandas.core.frame.DataFrame'>

             Clone  August  November
0     Balsam_Spire     8.1      11.2
1          Beaupre    10.0      16.3
2        Hazendans    16.5      15.3
3        Hoogvorst    13.6      15.6
4         Raspalje     9.5      10.5
5             Unal     8.3      15.5
6   Columbia_River    18.3      12.7
7    Fritzi_Pauley    13.3      11.1
8        Trichobel     7.9      19.9
9            Gaver     8.1      20.4
10          Gibecq     8.9      14.2
11           Primo    12.6      12.7
12       Wolterson    13.4      36.8

In [16]:
paired_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Clone     13 non-null     object
 1   August    13 non-null     float64
 2   November  13 non-null     float64
dtypes: float64(2), object(1)
memory usage: 440.0+ bytes

In [17]:
paired_dataset.isnull().sum()

Clone       0
August      0
November    0
dtype: int64

In [18]:
paired_dataset.corr()

            August  November
August    1.000000  0.016698
November  0.016698  1.000000

# Pergunta 1 
O arquivo bp.csv contem dados sobre a pressão sanguínea (bp) e se a pessoa é ou não diabética (type) (diabetico é type = Yes).

Use os seguintes testes e responda os itens abaixo:

- Teste t

- Wilcoxon rank sum

1. Reporte o p-valor da comparação entre a pressão sangüínea de pessoas diabéticas ou não.

2. Qual tem a maior pressão média? E maior pressão mediana?

3. A diferença é significativa?

Discuta a diferença dos p-valores. Quais dos 2 testes você acha mais apropriado nesse caso?

## Teste t

In [27]:
bp_dataset_yes = bp_dataset.loc[bp_dataset["type"]=="Yes"]["bp"]
bp_dataset_no = bp_dataset.loc[bp_dataset["type"]=="No"]["bp"]

In [28]:
stats.ttest_ind(bp_dataset_yes, bp_dataset_no)

Ttest_indResult(statistic=3.001495202122035, pvalue=0.0030323591864622732)

## Wilcoxon rank sum

In [30]:
stats.ranksums(bp_dataset_yes, bp_dataset_no)

RanksumsResult(statistic=3.045797809294312, pvalue=0.0023206383267846886)

## Pressão média

In [31]:
bp_dataset_yes.mean()

74.58823529411765

In [32]:
bp_dataset_no.mean()

69.54545454545455

## Pressão mediana

In [33]:
bp_dataset_yes.median()

76.0

In [34]:
bp_dataset_no.median()

70.0

## Respostas

1) O p-valor da comparação entre a pressão sangüínea de pessoas diabéticas ou não são:


*   Teste t: 0.0030323591864622732
*   Wilcoxon rank sum: 0.0023206383267846886



2) O grupo de pessoas diabéticas possuem tanto a maior pressão média quando a maior pressão mediana.

3) Sim, a diferença é significativa visto que o p-valores obtido em ambos os testes são pequenos, garantindo a confiança nos resultados sobre a diferença das pressões médias e medianas dos dois grupos: diabéticos e não diabéticos. 

Com base nos resultados obtidos acima, os p-valores obtidos diferiram cerca de 0.00073. Porém, como visto em aula, o Test t seria o mais apropriado para esse caso, visto que o Test t é recomendado para dois conjuntos independentes e o Wilcoxon rank sum testa se dois conjuntos de são extraídos da mesma distribuição.

# Pergunta 2
O arquivo paired.csv contém dados sobre duas medições: em Agosto e em Novembro em 13 lugares diferentes.

Use os seguintes testes e responda os itens abaixo:
- Test t pareado

- Wilcoxon signed rank.

1. Qual o mês com maior média e maior mediana?

2. A diferença é significativa?

3. Discuta a diferença dos p-valores. Quais dos 2 testes você acha mais apropriado nesse caso?

## Teste t pareado

In [45]:
stats.ttest_rel(paired_dataset["August"], paired_dataset["November"])

Ttest_relResult(statistic=-2.3088956550760438, pvalue=0.03955525086687241)

## Wilcoxon signed rank

In [46]:
stats.wilcoxon(paired_dataset["August"], paired_dataset["November"])

WilcoxonResult(statistic=16.0, pvalue=0.039794921875)

In [51]:
0.039794921875-0.03955525086687241

0.00023967100812759268

## Média - mês

In [47]:
paired_dataset["August"].mean()

11.423076923076925

In [49]:
paired_dataset["November"].mean()

16.323076923076922

## Mediana - Mês

In [48]:
paired_dataset["August"].median()

10.0

In [50]:
paired_dataset["November"].median()

15.3

## Respostas

1) O mês com maior média e maior mediana é novembro.

2) Sim, a diferença é significativa visto que o p-valores obtido em ambos os testes são pequenos, garantindo a confiança nos resultados da diferença das médias e medianas dos dois meses: agosto e novembro.

3) A diferença dos p-valores foi cerca de 0.000239. Como visto em aula, nesse caso o Wilcoxon signed rank seria o mais apropriado, visto que o conjunto de dados não é grande (medidas de 13 lugares diferentes para 2 diferentes meses).

# Pergunta 3
Use os dados (não pareados) do dataset bp.csv

Gere o intervalo de confiança para a pressão sangüínea dos pacientes com diabetes e sem diabetes (intervalo de 95% de confiança) usando o método de bootstrap

In [55]:
bp_dataset_yes_seq = (bp_dataset_yes.values ,) #convertendo array para sequencia
bp_dataset_no_seq = (bp_dataset_no.values ,) #convertendo array para sequencia

In [58]:
bootstrap_ci_yes = stats.bootstrap(bp_dataset_yes_seq , np.mean, confidence_level=0.95, random_state=1, method='BCa')
bootstrap_ci_yes.confidence_interval

ConfidenceInterval(low=71.77941176470588, high=77.29411764705883)

In [59]:
bootstrap_ci_no = stats.bootstrap(bp_dataset_no_seq , np.mean, confidence_level=0.95, random_state=1, method='BCa')
bootstrap_ci_no.confidence_interval

ConfidenceInterval(low=67.6590909090909, high=71.47727272727273)

# Pergunta 4
Teste Visual:  Há intersecção entre os intervalos de confiança dos 2 conjuntos de dados acima (com diabetes e sem diabetes)? Isso está de acordo com o teste de diferença significativa entre eles feito na questão 1?

Resposta: Não há intersecção entre os intervalos de confiança dos 2 conjuntos de dados acima (com diabetes e sem diabetes). Isso está de acordo com o teste de diferença significativa entre eles feito na questão 1 visto que ambos os conjuntos são diferentes e que o p-valor do Test t foi de 0.0030323591864622732.

# Pergunta 5 
Calcule o Cohen D com o pooled standard deviation para a diferença entre a pressão sangüínea de pacientes com e sem diabetes.

In [63]:
from math import sqrt

# função cohend(d1, d2) fornecido pelo Prof. Sandro Rigo no Notebook: https://github.com/srigo-MO430/notebooks/blob/main/Analise%20Estatistica%20-%20Parte%201.ipynb 

# function to calculate Cohen's d for independent samples
def cohend(d1, d2):
	# calculate the size of samples
	n1, n2 = len(d1), len(d2)
	# calculate the variance of the samples
	s1, s2 = np.var(d1, ddof=1), np.var(d2, ddof=1)
	# calculate the pooled standard deviation
	s = sqrt(((n1 - 1) * s1 + (n2 - 1) * s2) / (n1 + n2 - 2))
	# calculate the means of the samples
	u1, u2 = np.mean(d1), np.mean(d2)
	# calculate the effect size
	return (u1 - u2) / s
 
print('Cohens d: ', cohend(bp_dataset_yes, bp_dataset_no))

Cohens d:  0.4480342648766951

# Pergunta 6
Com base nos testes, intervalos de confiança, etc realizados acima sobre o dataset bp.csv, qual a sua conclusão sobre pressão arterial em pacientes com ou sem diabetes?

Resposta: Com base nos testes, intervalos de confiança, etc realizados acima sobre o conjunto de dados bp.csv, a conclusão sobre pressão arterial em pacientes com ou sem diabetes que é possível obter é que pacientes com diabetes possuem maiores pressão arterial do que pacientes sem diabetes. 


*   Os p-valores obtidos nos testes foram  menores que 0.05
*   Não houve intersecção entre os intervalos de confiança dos 2 conjuntos de dados acima (com diabetes e sem diabetes)

Portanto, sendo a média e mediana maiores para pacientes com diabetes, é possível concluir que a doença causa uma elevação na pressão arterial.